:root {
    --themeColor: #03B169;
    --navibarColor: #4fce9f;
    --themeBGColor: #D7F1EA;
    --highlightColor: #F99406;
    --primaryGray: #F5F5F5;
    --secondaryGray: #cacaca;
    --tertiaryGray: #BABABA;
    --quaternaryGray: #707070;
    --darkerGray: #050505;
}

@font-face {
    font-family: SourceHans;
    font-weight: normal;
    src: local("SourceHanSansCN-Regular"), url(../font/SourceHanSansCN-Regular.otf);
}

@font-face {
    font-family: SourceHans;
    font-weight: lighter;
    src: local("SourceHanSansCN-Light"), url(../font/SourceHanSansCN-Light.otf);
}

@font-face {
    font-family: SourceHans;
    font-weight: bold;
    src: local("SourceHanSansCN-Bold"), url(../font/SourceHanSansCN-Bold.otf);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: SourceHans;
    font-weight: normal;
}

button {
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: nowrap;
    white-space:nowrap;
}

.defaultBtn {
    background-color: var(--themeColor);
}

.smallBtn {
    height: 1.5em;
    border-radius: 0.75em;
    padding: 0 14px;
    margin: 14px;
}

.largeBtn {
    height: 2.5em;
    border-radius: 1.25em;
    padding: 0 18px;
    margin: 18px;
}

.x-largeBtn {
    height: 3em;
    border-radius: 1.5em;
    padding: 0 24px;
}

button:hover {
    filter: brightness(1.1);
}

button:disabled {
    filter: grayscale(1);
    cursor: not-allowed;
}

button img {
    height: 1em;
    margin-right: 8px;
}

span {
    display: inline-block;
    margin: 8px;
}

.labelL {
    font-size: x-large;
    font-weight: bold;
}

.labelM {
    font-size: larger;
    font-weight: bold;
}

.labelS {
    font-size: medium;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 8px 14px;
    height: 20px;
    border: 2px transparent solid;
    border-radius: 20px;
    font-size: 18px;
    margin: 8px;
    outline: none;
    display: inline-block;
    box-sizing: content-box;
    background-color: var(--primaryGray);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border: 2px var(--themeColor) solid;
}

.forstedGlass {
    background: inherit;
    filter: blur(15px);
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    z-index: -1;
    border-radius: inherit;
}

img {
    object-fit: contain;
    box-sizing: border-box;
    border: none;
}

.pageCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center {
    width: 100%;
    text-align: center;
}