body {
    background-color: var(--lightBGColor);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--darkTextColor);
}

@media (prefers-color-scheme: light) {
    body {
        background-image: url("../img/bg_blur.jpg");
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("../img/bg_blur_dark.jpg");
    }
}

.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76%;
    height: 92%;
    border-radius: 15px;
    background-color: var(--lightBGColor);
    padding: 0;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
    opacity: 0;
    transition: opacity 1s ease-out;
}

header {
    width: 100%;
    background-color: var(--navibarColor);
    height: 60px;
    padding: 0;
    display: flex;
}

#logo {
    width: 25%;
    height: 100%;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.headerCtrls {
    display: inline-flex;
    width: 75%;
    height: 100%;
    margin: 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.searchMember {
    width: 35%;
    min-width: 12em;
    height: 36px;
    overflow: hidden;
    margin-left: 8px;
    background-color: var(--lightBGColor);
    border-radius: 20px;
    display: inline-flex;
}

#searchMember {
    width: calc(100% - 32px);
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--lightBGColor);
}

#searchMember:focus {
    border-color: transparent;
}

#searchMemberBtn {
    width: 18px;
    height: 36px;
    cursor: pointer;
    z-index: 10;
}

.searchBox {
    position: absolute;
    left: calc(25% + 38px);
    top: 55px;
    width: 24%;
    z-index: 10;
    border-radius: 15px;
    background-color: var(--groupedBGColor);
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.searchBox .placeholder {
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px var(--secondaryGray) solid;
}

.searchBox .list-item {
    padding: 10px 18px;
}

#myAvatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}

#myAvatar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    padding: 0;
    margin: 0;
    display: flex;
}

.main div {
    overflow: scroll;
}

.treeViewContainer {
    width: 25%;
    min-width: 238px;
    background-color: var(--themeBGColor);
}

#tree {
    width: 100%;
    height: 100%;
    padding: 18px 0 18px;
}

#tree .list-group-item {
    border-radius: 0;
    padding: 12px 8px;
}

.mainViewContainer {
    position: relative;
    width: 75%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.myClubContainer, .createClubContainer, .joinClubContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.myClubContainer div, .createClubContainer div, .joinClubContainer div {
    position: relative;
}

.joinClubContainer {
    background-size: cover;
    background-position: center;
}

@media (prefers-color-scheme: light) {
    .joinClubContainer {
        background-image: url(../img/joinClubBG.png);
    }
}

@media (prefers-color-scheme: dark) {
    .joinClubContainer {
        background-image: url(../img/joinClubBG_dark.png);
    }
}

.joinClub {
    text-align: center;
    width: 50%;
}

#inviteCode {
    width: calc(100% - 48px);
    background-color: var(--primaryGray);
}

#joinClub {
    margin-top: 18px;
}

.myModal-dialog {
    width: 400px;
    height: 260px;
}

.clubBGImgContainer {
    width: 100%;
    height: 30%;
    min-height: 175px;
}

.clubBGImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.basicInfo, .importMember {
    width: 100%;
    padding: 35px;
}

.basicInfo input {
    width: calc(100% - 48px);
}

#uploadImg {
    margin: 0;
    background-color: var(--highlightColor);
    z-index: 10;
}

#createClub {
    margin-top: 2em;
}

.importMember svg {
    margin: 4%;
}

#importMember {
    margin-top: 5%;
}

.dashboard {
    width: 100%;
    height: 100%;
}

.dashboard .row {
    padding: 18px;
    margin-top: 8px;
}

#avatar {
    width: 20%;
    min-width: 125px;
    min-height: 125px;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    margin: 8px;
}

.cardContainer {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.dashboard .card {
    border-radius: 15px;
    overflow: hidden;
    width: 200px;
    height: 123.6px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 12px 12px 16px;
    flex-shrink: 0;
    cursor: pointer;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
    transition: filter ease-in-out 0.3s, transform ease-in-out 0.3s;
    position: relative;
}

.dashboard .card:hover {
    filter: brightness(1.1);
    transform: scale(1.02);
}

.card .labelM, .card .labelL {
    margin-top: 0;
    font-weight: normal;
    z-index: 8;
}

.dashboard .card img {
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    object-fit: cover;
    z-index: inherit;
    filter: blur(5px);
    border-radius: 15px;
    overflow: hidden;
}

.badge {
    float: right;
    color: #212529;
    background-color: var(--highlightColor);
}

.list {
    background-color: var(--groupedBGColor);
    height: 70%;
    overflow-y: scroll;
}

.list-item-group {
    margin: 18px 18px 0;
    border-radius: 15px;
    background-color: var(--listitemColor);
    overflow: hidden;
}

.list-item-group:last-child {
    margin-bottom: 18px;
}

.list-item {
    padding: 14px 22px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px var(--secondaryGray) solid;
    cursor: pointer;
}

.list-item:hover {
    background-color: var(--secondaryGray);
}

.list-item .myIcon {
    margin: 8px;
}

.list-item-left, .list-item-ctrls {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: max-content;
}

.list-item:last-child {
    border-bottom: none;
}

.list-item-ctrls {
    height: 1.6em;
}

.list-item-ctrls .myIcon {
    transform: scale(1.5);
    cursor: pointer;
}

.list-item-title {
    font-size: large;
    font-weight: normal;
}

.list-item-subTitle {
    color: var(--themeColor);
    font-weight: bold;
}

.list-item-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 14px;
}

.list-item-stack span {
    margin: 0;
}

.list-item-stack .list-item-title {
    font-weight: bold;
}

.list-item-stack span:last-child {
    font-size: small;
}

.list-item-stack span img {
    margin: 0;
    width: 1em;
    height: 1em;
}

.clubBGImgContainer .controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 5;
}

.clubBGImgContainer .controls .left button {
    background-color: var(--lightBGColor);
    color: var(--darkTextColor);
    font-weight: normal;
    margin-left: 0;
}

.clubBGImgContainer .controls .left button:first-child {
    margin-left: 16px;
}

.clubBGImgContainer .controls .right button {
    background-color: var(--highlightColor);
}

.memberInfo {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 600px;
    height: 375px;
}

.memberInfo-left {
    width: 34px;
}

.memberInfo-right {
    width: calc(100% - 34px);
}

.memberInfo-left, .memberInfo-top {
    display: flex;
    align-items: center;
}

.memberInfo-top {
    height: 30%;
    justify-content: space-between;
}

.memberInfo-top .list-item-avatar {
    height: 100%;
    width: auto;
}

.memberInfo-bottom {
    height: 70%;
}

.memberInfo .col-lg-5, .memberInfo .col-lg-6 {
    border-bottom: 1px var(--secondaryGray) solid;
    padding: 6px;
    display: inline-flex;
    align-items: center;
}

.memberInfo .labelS {
    font-weight: bold;
    width: 2em;
    color: var(--themeColor);
    margin-left: 0;
}

@media (max-width: 801px) {
    .mainContainer {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }
    .dashboard .row {
        padding: 8px;
    }
    .headerCtrls {
        padding-left: 8px;
        padding-right: 8px;
    }
    .searchMember, .searchBox {
        min-width: 10em;
    }
}

@media (max-width: 415px) {
    .treeViewContainer {
        float: left;
        min-width: min(238px, 90%);
        z-index: 5;
    }
    .mainViewContainer {
        width: 100%;
        position: absolute;
    }
    .dashboard .row {
        padding: 18px;
    }
}

@media (max-height: 500px) {
    .mainContainer {
        height: 100%;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}