body {
    background: url("../img/bg_blur.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color: #000;
}

.mainContainer {
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 12%;
    right: 12%;
    border-radius: 10px;
    background-color: white;
    padding: 0;
    overflow: hidden;
    min-width: 600px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
}

header {
    width: 100%;
    background-color: var(--navibarColor);
    height: 60px;
    padding: 0;
    display: flex;
}

#logo {
    width: calc(100% / 4);
    height: 100%;
    display: inline-block;
    padding: 10px;
}

.headerCtrls {
    display: inline-flex;
    width: calc(100% - 250px);
    height: 100%;
    margin: 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.searchMember {
    width: 35%;
    min-width: 12em;
    height: 36px;
    overflow: hidden;
    margin-left: 8px;
    background-color: white;
    border-radius: 20px;
    display: inline-flex;
}

#searchMember {
    width: calc(100% - 32px);
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: white;
}

#searchMember:focus {
    border-color: transparent;
}

#searchMemberBtn {
    width: 18px;
    height: 36px;
    cursor: pointer;
    z-index: 10;
}

#myAvatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    padding: 0;
    margin: 0;
    display: flex;
}

.main div {
    overflow: scroll;
}

.treeViewContainer {
    width: 25%;
    background-color: var(--themeBGColor);
}

#tree {
    width: 100%;
    height: 100%;
    padding: 18px 0 18px;
}

#tree .list-group-item {
    border-radius: 0;
    padding: 12px 8px;
}

.mainViewContainer {
    position: relative;
    width: 75%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.myClubContainer, .createClubContainer, .joinClubContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.myClubContainer div, .createClubContainer div, .joinClubContainer div {
    position: relative;
}

.joinClubContainer {
    background-image: url(../img/joinClubBG.png);
    background-size: cover;
    background-position: center;
}

.joinClub {
    text-align: center;
    width: 50%;
}

#inviteCode {
    width: calc(100% - 48px);
    background-color: var(--primaryGray);
}

#joinClub {
    margin-top: 18px;
}

.myModal-dialog {
    width: 400px;
    height: 250px;
}

.uploadImg {
    width: 100%;
    height: 30%;
    min-height: 175px;
}

.basicInfo, .importMember {
    width: 100%;
    padding: 35px;
}

.basicInfo input {
    width: calc(100% - 48px);
}

#imgPreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#uploadImg {
    margin: 0;
    background-color: var(--highlightColor);
    z-index: 10;
}

#createClub {
    margin-top: 2em;
}

.importMember svg {
    margin: 4%;
}

#importMember {
    margin-top: 5%;
}